<!-- ERROR PAGE -->
<section class="d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12 text-center">
        <img src="assets/images/404.svg"
             class="img-fluid"
             alt="404">
        <h2 class="mt-4">Whoops...</h2>
        <h4 class="pt-1 mx-auto">The page you are looking for is not found!</h4>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-md-12 text-center">
        <button mat-raised-button
                color="primary"
                routerLink="/">
          <mat-icon aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="arrow_left"></mat-icon>
          Back to the list
        </button>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- ERROR PAGE -->