.logo {
    color: white;
    text-decoration: none;
}

.flex-stretch {
    flex: 1 0 auto;
}

.sidenav-icon {
    padding: 0 14px;
  }
  
.sidenav-spacer {
flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}